* {
  box-sizing: border-box;
}

.player {
  text-align: center;
  margin-top: 10px;
  width: 785px;
  height: 1100px;
  
  margin-left: 600px;
  overflow: hidden;
  position: relative;
  overflow-y: scroll;
  transition: overflow-y 0.5s ease;
  cursor: pointer;
  box-shadow: 1px 1px 10px 8px rgba(0, 0, 0, 0.1);
}
.btn {
  color: rgb(255, 255, 255);
}
.player::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: white;
  width: 20px;
}

.player::-webkit-scrollbar-thumb {
  background: white;
}
.dashboard {
  /* background-color: rgb(217, 251, 255); */
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230803/pngtree-a-road-with-mountains-in-the-morning-image_12997705.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 745px;
  height: auto;
  overflow-y: scroll;
  margin-bottom: -20px;
  position: fixed;
  overflow: hidden;
  z-index: 900;
  margin-left: 20px;
  margin-top: 50px;
}
h3 {
  color: #ffa600;
  margin-top: 15px;
}
h1 {
  color: rgb(0, 0, 0);
}
.cd {
  display: flex;
  margin: auto;
  width: 230px;
}
.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 20px;
}
.cd.active {
  animation: soundBeats 2s infinite;
}
.btn-repeat.active {
  color: black;
}
.btn-random.active {
  color: black;
}
.thumb img {
  margin-left: -320px;
  margin-top: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}
.author {
  margin-top: -10px;
  font-weight: lighter;
  font-size: 15px;
}

.option {
  margin-left: 850px;
  margin-top: -50px;
}
.body {
  margin-top: -75px;
  margin-left: 430px;
  text-align: left;
}
.title {
  font-size: 20px;
}
.control {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.control .btn {
  margin: 20px;
}

.control .btn-toggle-play i {
  color: var(--white-color);
}

.btn-toggle-play {
  color: black;
  height: 54px;
  width: 54px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 1px 6px var(--end-color);
  border: 5px solid #f0f0f0;
}
.btn-repeat:active i,
.btn-random:active i {
  color: #000000;
}

/* .progress{
  width: 200px;
} */
input {
  width: 300px;
  margin-top: 25px;
}
.playlist {
  width: 750px;
  height: 410px;
  margin-top: 500px;
  overflow: hidden;
  border-radius: 4px;
  margin-left: 20px;
}
.song {
  background-color: white;
  margin-top: 40px;
  border: 1px solid rgb(219, 219, 219);
  width: 750px;
  height: 410px;
  box-shadow: 1px 10px 10px 8px rgba(0, 0, 0, 0.1);
  padding: 1px 0px 3px 0px;
  min-width: 100%;
  overflow-y: scroll;
  background:rgb(202, 255, 237);
}
.id1.active {
  background-color: rgb(255, 217, 0);
}
.id1.active .thumb img {
  width: 60px;
  height: 60px;
}
.border {
  border: 3px solid rgb(218, 218, 218);
}
.id1 {
  padding: 10px 0px 40px 0px;
  margin-left: -200px;
}
.id1:active {
  opacity: 0.6;
}
.song::-webkit-scrollbar {
  width: 5px;
  background: lightgrey;
}
.song::-webkit-scrollbar-thumb {
  background-color: rgb(153, 153, 153);
  border-radius: 3px;
}

.player .icon-pause {
  display: none;
}
.player.playing .icon-pause {
  display: inline-block;
}
.player.playing .icon-play {
  display: none;
}
/* @media (max-width: 900px) {
  .player {
    margin: 0px;
    width: 505px;
    box-shadow: 1px 1px 10px 8px rgba(0, 0, 0, 0.1);
    
  }
  .dashboard {
    width: 445px;
    height: auto;
    border-radius: 4px;
  }
  .cd {
    width: 70px;
  }
  .cd-thumb {
    width: 100%;
  }
  input {
    margin-top: -20px;
  }
  .control{
    margin-top: -10px;
  }
  .playlist {
    margin-top: 290px;
    width: 445px;
    box-shadow: 1px 1px 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .song {
    width: 110px;
  }
  .thumb img {
    margin-left: -170px;
    width: 30px;
    height: 30px;
    margin-top: 20px;
  }
  .id1.active .thumb img {
    width: 40px;
    height: 40px;
  }
  .body {
    margin-left: 300px;
    font-size: 10px;
    margin-top: -65px;
  }
  .option {
    margin-left: 600px;
  }
}

@media(min-width:1024px) and (max-width:1910px){
  .player{
    margin-left: 150px;
    
  }
}
@media(min-width:1920px){
  .player{
    margin-left: 450px;
  }
}
 */
 @media(max-width : 740px) {
  .player{
    left: 0;
    top: 0;
    margin-left: -20px;
    font-size: 13px;
  }
  header{
    margin-top: -10px;
  }
  .dashboard{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230803/pngtree-a-road-with-mountains-in-the-morning-image_12997705.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 400px;
    height: auto;
    margin-top: 0px;
    overflow: hidden;
    .cd{
      width: 50px;
      margin-top: -10px;
    }
    #progress{
      margin-top: -30px;
      width: 250px;
    }
    .control{
      font-size: 10px;
      margin-top: -20px;
    }
    .btn-toggle-play {
      color: black;
      height: 30px;
      width: 30px;
    }
  }
  .playlist{
    font-size: 5px;
    margin-top: 200px;
    width: 400px;
    position: fixed;
    .song{
      margin-top: 0px;
    }
  .thumb img{
    width: 30px;
    height: 30px;
    margin-left: -480px;
    margin-top: -5px;
  }
  .id1{
    margin-top: 10px;
  }
  .id1.active .thumb img {
    width: 40px;
    height: 40px;
  }
  .author {
    margin-top: -10px;
    font-weight: lighter;
    font-size: 13px;
  }
  
  .option {
    margin-left: 100px;
    margin-top: -50px;
    font-size: 15px;
  }
  .body {
    margin-top: -50px;
    margin-left: 280px;
    text-align: left;
 
  }
  .title {
    font-size: 15px;
  }
  }
  
 }
 
 @media(min-width:600px) and (max-width:1023px) {
  .player{
    top: 0;
   left: 10px;
    font-size: 15px;
  }
  header{
    margin-top: 0px;
  }
  .dashboard{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230803/pngtree-a-road-with-mountains-in-the-morning-image_12997705.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 550px;
    height: auto;
    margin-top: 0px;
    overflow: hidden;
    .cd{
      width: 100px;
      margin-top: 10px;
    }
    #progress{
      margin-top: -30px;
      width: 250px;
    }
    .control{
      font-size: 10px;
      margin-top: -20px;
    }
    .btn-toggle-play {
      color: black;
      height: 30px;
      width: 30px;
    }
  }
  .playlist{
    font-size: 10px;
    margin-top: 285px;
    width: 550px;
    position: fixed;
    .song{
      margin-top: 0px;
    }
  .thumb img{
    width: 50px;
    height: 50px;
    margin-left: -450px;
    margin-top: -5px;
  }
  .id1{
    margin-top: 10px;
  }
  .id1.active .thumb img {
    width: 60px;
    height: 60px;
  }
  .author {
    margin-top: 0px;
    font-weight: lighter;
    font-size: 15px;
  }
  
  .option {
    margin-left: 400px;
    margin-top: -50px;
    font-size: 15px;
  }
  .body {
    margin-top: -70px;
    margin-left: 400px;
 
  }
  .title {
    font-size: 20px;
  }
  }
  
 }
 @media(min-width:741px) and (max-width:1023px) {
  .player{
    top: 0;
    left: -610px;
    font-size: 15px;
  }
  header{
    margin-top: 0px;
  }
  .dashboard{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230803/pngtree-a-road-with-mountains-in-the-morning-image_12997705.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 740px;
    height: auto;
    margin-top: 0px;
    overflow: hidden;
    .cd{
      width: 130px;
      margin-top: 10px;
    }
    #progress{
      margin-top: -30px;
      width: 250px;
    }
    .control{
      font-size: 20px;
      margin-top: -20px;
    }
    .btn-toggle-play {
      color: black;
      height: 50px;
      width: 50px;
    }
  }
  .playlist{
    font-size: 10px;
    margin-top: 320px;
    width: 750px;
    position: fixed;
    .song{
      margin-top: 0px;
    }
  .thumb img{
    width: 50px;
    height: 50px;
    margin-left: -400px;
    margin-top:20px;
  }
  .id1{
    margin-top: 10px;
  }
  .id1.active .thumb img {
    width: 60px;
    height: 60px;
  }
  .author {
    margin-top: 0px;
    font-weight: lighter;
    font-size: 20px;
  }
  
  .option {
    margin-left: 800px;
    margin-top: -50px;
    font-size: 15px;
  }
  .body {
    margin-top: -80px;
    margin-left: 400px;
 
  }
  .title {
    font-size: 25px;
  }
  }
  
 }
